<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>LMS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="style_css\PagStyle.css" rel="stylesheet" type="text/css">
<link rel="icon"  href="images/logoico.ico" type="image/x-icon"/>


</head>

<body>
<div class="mainWrapper">
  <header> 
    <!-- HEADER -->
    <div class="logo"> 
		
		<!-- LOGO --> 
		<img src="images/logo.png" alt="logo">  
    </div>
    <div class="headerLinks"><a href="#" title="Login">Login</a></div>
	  <div class="headerLinksInf"><a href="#" title="teste"><h4>Torne seu Futuro mais colorido</h4></a></div>

  </header>
  <section class="offer"> 
    <!-- Espaço para banner -->
	
    <h2>Faculdade Impacta</h2>
    <p>Descubra o Futuro</p>
  </section>
	
  <!--DIV PRINCIPAL DO CONTEUDO-->
  <div class="content">
	  <!--MENU LATERAL -->
    <section class="sidebar">       
      <div class="menubar">
        <nav class="menu">
          <h2>MENU ITEM 1 </h2>
          <hr>
          <ul>
            <li><a href="#" title="Link">Link 1</a></li>
            <li><a href="#" title="Link">Link 2</a></li>
            <li><a href="#" title="Link">Link 3</a></li>
            <li class="notimp"><!--  A classe notimp é aplicada para remover este link das visualizações de tablet e telefone --><a href="#"  title="Link">Link 4</a></li>
          </ul>
        </nav>
        <nav class="menu">
          <h2>MENU ITEM 2 </h2>
          <hr>
          <ul>
            <li><a href="#" title="Link">Link 1</a></li>
            <li><a href="#" title="Link">Link 2</a></li>
            <li><a href="#" title="Link">Link 3</a></li>
            <li class="notimp"><!--  A classe notimp é aplicada para remover este link das visualizações de tablet e telefone--><a href="#" title="Link">Link 4</a></li>
          </ul>
        </nav>
      </div>
    </section>
	  <!--FIM DO MENU-->

	  <!-- CONTEUDO DO SITE -->
    <section class="mainContent">
      

    </section>
	  <!--FIM DO CONTEUDO -->
  </div>
	

<footer> 
    <!-- FOOTER -->
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius sem neque. Integer ornare.</p>
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius sem neque. Integer ornare.</p>
    </div>
    <div class="footerlinks">
      <p><a href="#" title="Link">Link 1 </a></p>
      <p><a href="#" title="Link">Link 2</a></p>
      <p><a href="#" title="Link">Link 3</a></p>
    </div>
  </footer>
</div>
</body>
</html>
